# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\development\my-website-lesly\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
